@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f1f1f3;
}
.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}

:root {
  --dark1: #0e0e0e;
  --dark2: #454343;
  --buttoncolor: #006a50;
}

/* common classs */
.btn {
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  color: #fff;
}

.section-title {
  font-size: 25px;
  color: var(--dark1);
}
.header {
  width: 1200px;
  margin: 20px auto;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav h5 {
  font-size: 20px;
  font-weight: bold;
  color: var(--dark2);
}
nav div button {
  border: none;
  outline: none;
  padding: 10px 15px;
  border: 1.4px solid var(--buttoncolor);
  border-radius: 7px;
  background: transparent;
  color: var(--buttoncolor);
  font-weight: 400;
}

/* banner style  */
.banner {
  display: flex;
  height: 450px;
  margin-top: 20px;
  border-radius: 9px;
  padding-left: 50px;
  background: #c6e4d6;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  width: 500px;
}
.banner-content h6 {
  font-size: 15px;
  color: #424242;
  margin-bottom: 20px;
}
.banner-content h1 {
  font-size: 40px;
  color: #0e0e0e;
  margin-bottom: 20px;
  line-height: normal;
  font-weight: bold;
}
.banner-content button {
  background: var(--buttoncolor);
}
.banner img {
  width: 470px;
  padding-right: 50px;
}
/* pillers style  */

.pillers {
  width: 1200px;
  margin: 50px auto;
}
.pillers h2 {
  margin-bottom: 30px;
}
.piller-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.piller-items .piller-item {
  width: 270px;
  height: 240px;
  background: #ffffff;
  padding: 30px;
  border-radius: 7px;
}
.piller-items .piller-item h6 {
  font-size: 18px;
  color: var(--dark1);
  margin: 15px 0;
}
.piller-items .piller-item p {
  font-size: 13px;
  color: var(--dark2);
  margin: 15px 0;
}
.piller-items .piller-item img {
  width: 50px;
  margin: 10px 0 5px 0;
}
.piller-items .piller-item .card-btn1 {
  background: #5490f5;
}

/* vision of future  */
.Vision-of-Future {
  max-width: 1200px;
  margin: 0 auto;
}
.Vision-of-Future h2 {
  margin-bottom: 20px;
}
.Vision-of-Future p {
  font-size: 13px;
}
.vf-cards {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.vf-cards .vf-card {
  width: 270px;
  height: 290px;
  padding: 30px;
  border-radius: 7px;
}
.vf-cards .vf-card h6 {
  font-size: 18px;
  color: var(--dark1);
  margin: 15px 0;
}
.vf-cards .vf-card p {
  font-size: 13px;
  color: var(--dark2);
  margin: 15px 0;
}
.vf-cards .vf-card img {
  width: 50px;
  margin: 10px 0 5px 0;
}
.vf-cards .vf-card .vfcard-btn1 {
  background: #5490f5;
}
.vf-cards .vf-one {
  background: #d5e1f5;
}

.vf-cards .vf-tow {
  background: #f5d5d9;
}
.vf-cards .vf-three {
  background: #c6e4d6;
}
.vf-cards .vf-four {
  background: #f7ebcf;
}

.vfcard-btn2 {
  background: #a10934;
}
.vfcard-btn3 {
  background: #09a15c;
}
.vfcard-btn4 {
  background: #ffc239;
}
.quote {
  background: #ffffff;
  border-radius: 7px;
  padding: 20px 20px;
  margin-top: 30px;
  /* background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top left; */
}
.quote .quote-container {
  background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  padding: 20px 0;
  background-size: 50px;
}

.quote .quote-container p {
  font-size: 13px;
  /* color: var(--dark2); */
  color: #0e0e0e;
  /* background-image: url("/assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top left; */
}
.md-yonus h6 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 7px;
}
.md-yonus p {
  font-size: 13px;
  color: #0e0e0e;
}
.option {
  max-width: 1200px;
  margin: 50px auto;
}
.table-container {
  margin-top: 30px;
  background: #ffffff;
  padding: 20px;
  border-radius: 7px;
}
.option div table {
  width: 100%;
  border-collapse: collapse;
}
.option div table tr td {
  border: 1px solid #0e0e0e3f;
  padding: 15px;
  font-weight: 500;
  font-size: 14px;
}
.option div table tr th {
  padding: 15px;
  background: #c6e4d6;
  border: 1px solid #0e0e0e3f;
  text-align: start;
}
.option .full {
  width: 83%;
}
.option .auto {
  width: auto;
}
.option table .select-option {
  text-align: center;
}
.option table .select-option select {
  padding: 8px 10px;
  background: #c6e4d6;
  border-radius: 7px;
  border-color: #0e0e0e3f;
  border: 1px solid #0e0e0e3f;
}
.option table .select-option select:focus {
  border: none;
  border: 1px solid #0e0e0e3f;
}
.option table .select-option select::selection {
  border: none;
  border: 1px solid #0e0e0e3f;
}
